@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid-Sans'), 
        url(Droid-Sans.woff) format('woff');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: local('Exo'), 
        url(Exo.woff) format('woff');
}
@font-face {
    font-family: 'Megrim';
    font-style: normal;
    font-weight: 400;
    src: local('Megrim'), 
        url("#{resource['css:fonts/Megrim.ttf']}")  format('truetype');
}